Source: trick
Section: unknown
Priority: optional
Maintainer: Aditya Girish <aditya.girish@nasa.gov>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), 
Standards-Version: 4.7.0
Homepage: https://github.com/nasa/trick

Package: trick
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Contains essential Trick libraries needed to run Trick-based sims.

